
*{
	margin: 0; 
	padding: 0; 
	font-family: arial;
	box-sizing: border-box;
}


/* css for header */
.header{ 
	width: 100%; 
	height: 85px; 
	background: #FFB6B9;
	position:fixed;
	top: 0;
	z-index: 10;
}

.logo{
	float: left; 
	margin-left: 5%; 
}


.logo img{
	padding-left:75px;
	position: relative;
	opacity: 0.4;
}

.logo h1{
	font-size: 20px; 
	color: #019267; 
	padding-top: 5px;
}

a{
	text-decoration: none;
	font-size: 20px;
}

nav{
	width: auto; 
	margin-right: 10px;
}

nav li{
	list-style: none;
}

nav li{
	display: inline;
}

nav ul li a{
	padding-top:30px;
	padding-bottom:45px;
	padding-left:20px;
	padding-right:20px;
	float: right; 
	color: #019267; 
	transition: 0.3s
}

nav ul li a:hover{
	background: #fff; 
	color: red;
}

.menu-icon{
	color: white;
	float: right;
	font-size: 25px;
	padding: 20px 20px;
	display: none;
	display: none;
}

/* end of css for header */

/* css for wrapper-content */
.wrapper-content{
	width: 70%; 
	margin-left: 15%; 
	background: #fff; 
	overflow: hidden; 
	padding-top: 85px;
}


.content p{
	color: black;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 6px;
	display: block;
	width: 300px;
	height: 70px;
	margin: 5px;
}

input[type="submit"]{
	margin: 10px 0 10px 0; 
	padding: 10px; 
	background: #61C0BF; 
}

.section-title {
    font-size: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 320px;
    height: 50px;
}

.content img{
	display: block;
	width: 315px;
	height: 187.5px;
	padding: 5px;
}
/* end of css for wrapper-content */

/* css for footer */
footer{
	width: 70%; 
	background: #FFB6B9; 
	height: 70px; 
	color: #019267;
	font-size: 20px;
	padding-top: 20px;
	margin-left: 15%;
}

.left-footer h3{
	float: left;
	padding-left: 30px;
	padding-bottom: 30px;
}
.right-footer{
	float:right;
	padding-bottom: 30px;
	padding-right: 30px;
}
.powered-by{
	padding-bottom: 3px;
}
/* end of css for footer */